<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <form #f="ngForm" novalidate (ngSubmit)="registerUser()">
                <h2 class="card-title mb-3">Account Type</h2>
                <div class="d-flex flex-row"> <label class="radio mr-1"> <input [(ngModel)]="userModel.type" #type="ngModel" type="radio"
                            name="type" value="basic" checked>
                        <span> <i class="fa fa-user"></i> Basic </span> </label> <label class="radio"> <input [(ngModel)]="userModel.type"
                            #type="ngModel" name="type" type="radio" value="pro"> <span> <i
                                class="fa fa-plus-circle"></i>
                            Pro </span>
                    </label> </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input [(ngModel)]="userModel.username" #username="ngModel" [class.is-invalid]="username.invalid && username.touched"
                                class="form-control" type="text" placeholder="Name" required name="username">
                            <small [class.d-none]="username.valid || username.untouched" class="text-danger">Name is
                                required.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input [(ngModel)]="userModel.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                                    class="form-control" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                    name="email" placeholder="Email ID" required>
                            </div>
                            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email address
                                    is invalid</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input [(ngModel)]="userModel.password" required minlength="6" #password="ngModel" class="form-control"
                                    type="password" name="password" placeholder="Password">

                            </div>
                            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password should be atleast 6 characters long</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input [(ngModel)]="userModel.confirmpassword" #confirmpassword="ngModel" class="form-control"
                                [class.is-invalid]="(userModel.password!=userModel.confirmpassword) && confirmpassword.touched"
                                    type="password" name="confirmpassword" placeholder="Confirm Password" required> </div>
                            <small class="text-danger" [class.d-none]="(userModel.password==userModel.confirmpassword) || confirmpassword.untouched">Passwords did not match</small>
                        </div>
                    </div>
                </div>
                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">If already
                        registered</small> <a href="/login" class="terms">Login</a>
                    <button [disabled]="f.form.invalid" class="btn btn-primary btn-block confirm-button" type="submit" >Submit</button>
                </div>
                <!-- {{f.value|json}} -->
            </form>
        </div>
    </div>
</div>